export TF_VAR_compartment_id="ocid1.tenancy.oc1..replace_me"
export TF_VAR_db_admin_password="replace_me"
export TF_VAR_db_customer_contact_email="you@example.com"
export TF_VAR_db_whitelisted_ips='["0.0.0.0"]'
export TF_VAR_instance_ssh_authorized_keys="ssh-rsa ABCD... replace_me"
export TF_VAR_oracle_tags_created_by="default/you@example.com"
